<div class="wrapper">
    <div class="card">
        <p>
            <small [ngClass]="smallClass.join(' ')">
                <strong>Last Update: </strong>
                <span #lastUpdate></span>
            </small>
        </p>
        <div>
            <button (click)="reduce()">Font Size -1</button>
            <button (click)="add()">Font Size +1</button>
            <button (click)="reset(this.default)">Reset to {{default}}px</button>
        </div>
        <div class="emily"
             [style.color]="color"
             [style.font-size.px]="size"
        ><ng-content></ng-content> {{size}}px</div>
    </div>
</div>
