.wrapper {
    margin: 1em;

    .card {
        border: 1px solid whitesmoke;
        border-radius: 1em;
        box-shadow: 0 0 1em rgba(0,0,0,.05);
        padding: 1em;

        button {
            background-color: lemonchiffon;
            border: 1px solid orange;
            border-radius: 1em;
            box-shadow: none;
            margin: .25em;
            padding: 0.5em 1em;

            &:hover {
                background-color: blanchedalmond;
            }

            &:focus {
                background-color: burlywood;
            }
        }

        small {
            &.animation-play {
                animation-direction: alternate;
                animation-duration: 1200ms;
                animation-name: flash;
                //animation-iteration-count: infinite;
                animation-iteration-count: 1;
            }
        }

        .emily {
            color: deeppink;
            font-weight: bold;
            padding: 1em 0;
        }
    }

}

@keyframes flash {
    from {
        color:green;
    }
    to {
        color:white;
    }
}
